.categories-tree li {
    opacity: 0.8;
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.categories-tree li:hover {
    opacity: 1;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.categories-tree .btn {
    margin: 2px;
    padding: 3px;
}

.pistol88-tree-right-col {
    text-align: right;
}